/* 


html{
    font-family: Helvetica, sans-serif;
}

body{
    background-color: lightgrey;
}

header * {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    
}
header{
    border-bottom: 2px solid black;
}

 */
