html {
  background-color: gray;
  box-sizing: border-box;
}

.container,
section {
  display: flex;
}

span {
  border: 1px solid black;
  flex-grow: 1;
  text-align: center;
  padding-top: 30px;
}
.container {
  margin: 120px;
  height: 450px;
  width: 65vw;
}
.week {
  flex-wrap: wrap;
  width: 75%;
}
.notes {
  flex-direction: column;
  width: 25%;
}
.notes *{
    padding-top: 10px;
}
.workweek,
.weekend {
  width: 100%;
}
